64, 126, 202@charset "utf-8";
/* CSS Document */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Included css Files
3. General css
4. Header top css
5. Header Nav css
6. Main slider css
7. Welcome css
8. About css
9. Divider css
10. Courses css
11. Counter css
12. Side bar css
13. Testimonial css
14. Teachers css
15. Teacher single css
16. Gallery css125
17. Blog css
18. Newsletter css
19. Discription css
20. Mission css
21. Faq css
22. Service css
23. Account css
24. 404 css
25. Contact css
26. Footer css

**********************************************/

/* ========== Fonts ========== */
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700');

/* ========== Included css Files ========== */
@import "font-awesome.min.css";
@import "font-awesome-animation.min.css";
@import "jquery-ui.css";
@import "animate.min.css";
@import "animations.css";
@import "owl.css";
@import "isotop.css";
@import "fancyBox.css";
@import "icofont.css";
@import "material-design-iconic-font.css";


/* ========== General css start========== */
html{
  font-family: 'PT Serif', serif;
  letter-spacing: 5px;
}
body {
  background: url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    color: rgba(#000000, 0.42);
    font-size: 14px;
    line-height: 26px;
    overflow-x: hidden;
    max-width: 100%;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #808080;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #595959;
    text-decoration: none;
}
a:hover,
a:focus {
    outline: none !important;
}
a img {
    border: none;
}
iframe {
    border: none;
}
/* ========== HEADINGS FON-TSIZE ========== */
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(#000000, 0.42);
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/* ========== TITLE LINE ========== */
.irs-section-title {
    margin-bottom: 60px;
    text-align: center;
}
.irs-section-title h2 {
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.irs-section-title h2 span {
    color: #175eb4;
}
.irs-section-title h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.irs-section-title h1 span {
    color: #175eb4;
}
.irs-section-title h3 {
        font-size: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .irs-section-title h3 span {
        color: #175eb4;
    }
.irs-section-title .irs-title-line {
    width: 180px;
    height: 2px;
    background: #333333;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}
.irs-section-title .irs-title-line .irs-title-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: #ffffff;
}
.irs-section-title .irs-title-line .irs-title-icon i {
    color: #407eca;
    font-size: 30px;
    line-height: 50px;
}
.irs-section-title p {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #595959;
}


/* ========== layer START ========== */
.irs-layer-black {
    position: relative;
}
.irs-layer-black:before {
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}


/* ========== Button css start ========== */
.irs-btn-transparent {
    padding: 4px 22px;
    background: none;
    border-radius: 0;
    color: #407eca;
    border: 1px solid #407eca;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-btn-transparent:hover {
    color: #ffffff;
    background: #407eca;
    border-radius: 0;
    border: 1px solid #407eca;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-btn-transparent-two {
    color: #6c6c6c;
    font-weight: bold;
    background: transparent;
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 1px solid #C1C1C1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-btn-transparent-two:hover {
    color: #ffffff;
    background: #407eca;
    border-color: #407eca;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-btn-transparent-three {
    padding: 4px 26px;
    background: none;
    border-radius: 20px;
    border: 1px solid #999999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-btn-transparent-three:hover {
    color: #ffffff;
    background: #407eca;
    border: 1px solid #407eca;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-big-btn {
    background-color: #407eca;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
    padding: 15px 50px;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-big-btn:hover {
    color: #ffffff;
    background: #ea8e40;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* ========== Scroll To Top ========== */
#scrollUp {
    bottom: 10px;
    right: 10px;
    padding: 8px 10px;
    background-color: #407eca;
}
#scrollUp:before {
    content: "\f01b";
    font-family: FontAwesome;
    font-size: 26px;
    color: #ffffff;
    padding-top: 7px;
}
/* Preloader */
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}
/* ========== Header top css start ========== */
.irs-header-top-bar {
    background: #407eca;
    padding: 10px 0;
}
.irs-header-top-bar p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}
.irs-header-top-bar p i {
    color: #ffffff;
    margin-right: 5px;
}
.irs-social {
    margin-top: 3px;
}
.irs-social a i {
    text-align: center;
    color: #ffffff;
    padding-top: 7px;
    margin-left: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-social a i:hover {
    color: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* ========== Header Nav css Start ========== */
.scroll-to-fixed-fixed {
    background-color: rgb(87, 159, 212);
    -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
}
.navbar-brand {
    height: 100%;
    padding: 0 15px 0 0;
    background-color: rgb(87, 159, 212);
}
.irs-navbar {
    margin-top: 20px;
    border: none;
    background-color: rgb(87, 159, 212);

}
.irs-navbar .navbar-nav>.active>a,
.irs-navbar .navbar-nav>.active>a:focus,
.irs-navbar .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}
.scroll-to-fixed-fixed .irs-navbar .navbar-nav>.active>a {
    color: #407eca;
    background: transparent;
}
.irs-navbar .navbar-nav>li>a {
    font-size: 14px;
    font-weight: bold;
    color: #535353;
    text-transform: uppercase;
}
.irs-navbar .navbar-nav>.open>a {
    background-color: transparent;
}
.irs-navbar .navbar-nav>.open>a:hover {
    background-color: transparent;
}
.navbar-right .dropdown-menu {
    width: 225px;
    right: auto;
    box-shadow: none;
    border-top: 2px solid #407eca;
    border-radius: 0;
    padding: 0;
}
.irs-navbar .dropdown-menu>li>a {
    color: #535353;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-navbar .dropdown-menu>li>a:hover {
    color: #407eca;
    padding-left: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-log-reg {
    background: #407eca;
    text-align: center;
    color: #ffffff;
    padding: 5px 15px;
    margin-top: 30px;
}
.irs-log-reg a {
    color: #ffffff;
}

/***Header two***/
.ire-header-two {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ire-header-two .irs-navbar .navbar-nav>li>a {
   color: #ffffff;
}
.ire-header-two .irs-navbar .navbar-nav>li>a:hover {
    color: #407eca;
}
.smaller {
    background: #ffffff;
    -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-logo-1 {
    display: none !important;
}
.smaller .irs-logo-1 {
    display: block !important;
}
.smaller .irs-logo-2 {
    display: none !important;
}
.smaller .irs-navbar .navbar-nav>li>a {
   color: #535353;
}





/* ========== Main slider css Start ========== */
.irs-main-slider {
    position: relative;
}
.fade-carousel {
    position: relative;
    height: 75vh;
}
.fade-carousel .carousel-inner .item {
    height: 75vh;
}
.irs-main-slider .irs-big-btn {
    background: transparent;
    border: 1px solid #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-main-slider .irs-big-btn:hover {
    background: #407eca;
    border-color: #407eca;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 10px;
}
.hero span {
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 10px;
}
.hero h1 strong {
    color: #407eca;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7,
.fade-carousel .slides .slide-8,
.fade-carousel .slides .slide-9,
.fade-carousel .slides .slide-10,
.fade-carousel .slides .slide-11,
.fade-carousel .slides .slide-12,
.fade-carousel .slides .slide-13,
.fade-carousel .slides .slide-14,
.fade-carousel .slides .slide-15,
.fade-carousel .slides .slide-16,
.fade-carousel .slides .slide-17,
.fade-carousel .slides .slide-18,
.fade-carousel .slides .slide-19,
.fade-carousel .slides .slide-20,
.fade-carousel .slides .slide-21,
.fade-carousel .slides .slide-22 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
   background-image: url(../images/dept.jpg);
   position: relative;
}
.fade-carousel .slides .slide-2 {
   background-image: url(../images/dept.jpg);
   position: relative;
}
.fade-carousel .slides .slide-3 {
   background-image: url(../images/dept.jpg);
   position: relative;
}
.fade-carousel .slides .slide-12 {
   background-image: url(../images/clubs/glug1.jpg);
   position: relative;
}
.fade-carousel .slides .slide-13 {
   background-image: url(../images/clubs/glug2.jpg);
   position: relative;
}
.fade-carousel .slides .slide-14 {
   background-image: url(../images/clubs/glug3.png);
   position: relative;
}
.fade-carousel .slides .slide-4 {
   background-image: url(../images/gallery/studentchapter/7.jpg);
   position: relative;
}
.fade-carousel .slides .slide-5 {
   background-image: url(../images/gallery/studentchapter/5.jpg);
   position: relative;
}
.fade-carousel .slides .slide-6 {
   background-image: url(../images/gallery/studentchapter/2.jpg);
   position: relative;
}
.fade-carousel .slides .slide-7 {
   background-image: url(../images/clubs/google1.jpg);
   position: relative;
}
.fade-carousel .slides .slide-8 {
   background-image: url(../images/clubs/google2.jpg);
   position: relative;
}
.fade-carousel .slides .slide-9 {
   background-image: url(../images/clubs/csi3.jpg);
   position: relative;
}
.fade-carousel .slides .slide-10 {
   background-image: url(../images/clubs/csi4.JPG);
   position: relative;
}
.fade-carousel .slides .slide-11 {
   background-image: url(../images/clubs/csi1.jpg);
   position: relative;
}
.fade-carousel .slides .slide-15 {
   background-image: url(../images/clubs/csidebug.png);
   position: relative;
}
.fade-carousel .slides .slide-16 {
   background-image: url(../images/clubs/cts2.jpg);
   position: relative;
}
.fade-carousel .slides .slide-17 {
   background-image: url(../images/clubs/cts3.jpg);
   position: relative;
}
.fade-carousel .slides .slide-18 {
   background-image: url(../images/clubs/cts4.jpg);
   position: relative;
}
.fade-carousel .slides .slide-19 {
   background-image: url(../images/clubs/cts5.jpg);
   position: relative;
}
.fade-carousel .slides .slide-20 {
   background-image: url(../images/dept2.jpg);
   position: relative;
}
.fade-carousel .slides .slide-21 {
   background-image: url(../images/dept3.JPG);
   position: relative;
}
.fade-carousel .slides .slide-22 {
   background-image: url(../images/dept4.jpg);
   position: relative;
}
.fade-carousel .slides .slide-1:before, .fade-carousel .slides .slide-2:before,
.fade-carousel .slides .slide-3:before, .fade-carousel .slides .slide-4:before,
.fade-carousel .slides .slide-5:before, .fade-carousel .slides .slide-6:before,
.fade-carousel .slides .slide-7:before, .fade-carousel .slides .slide-8:before,
.fade-carousel .slides .slide-9:before, .fade-carousel .slides .slide-10:before,
.fade-carousel .slides .slide-11:before,.fade-carousel .slides .slide-12:before
.fade-carousel .slides .slide-13:before,.fade-carousel .slides .slide-14:before
.fade-carousel .slides .slide-15:before,.fade-carousel .slides .slide-16:before
.fade-carousel .slides .slide-17:before,.fade-carousel .slides .slide-18:before
.fade-carousel .slides .slide-19:before, .fade-carousel .slides .slide-20:before
.fade-carousel .slides .slide-21:before, .fade-carousel .slides .slide-22:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.irs-main-slider .carousel-indicators {
    left: 5%;
}
.irs-main-slider .carousel-indicators li {
    width: 30px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    margin: 0;
    border-radius: 0;
}
.irs-main-slider .carousel-indicators .active {
    background-color: #407eca;
}
.irs-main-slider .fade-carousel .carousel-indicators > li.active {
    width: 30px;
    height: 7px;
    background-color: #407eca;
    border: none;
    margin: 0;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2em; line-height: 1.5em; }
}


/* ========== Welcome css Start ========== */
.irs-welcome-field {
    padding: 100px 0;
    background: #F7F7F7;
    position: relative;
}
.irs-welcome-field h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
.irs-welcome-field span {
    color: #407eca;
    font-size: 45px;
}
.irs-welcome-field i {
    color: #407eca;
    font-size: 80px;
}
.irs-welcome-field p {
    margin-top: 20px;
}



/* ========== About css Start ========== */
.irs-about-field {
    padding: 100px 0 50px;
}
.irs-about-field .irs-section-title {
    margin-bottom: 75px;
}
.irs-about-box {
    margin-bottom: 50px;
    text-align: center;
    padding: 40px 30px;
    border: 1px solid #e6e6e6;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-about-box:hover {
    border-color: #407eca;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-about-icon {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    text-align: center;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -30px;
    margin-bottom: 40px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-about-box:hover .irs-about-icon {
    background: #407eca;
    border-color: #407eca;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-about-icon i {
    color: #407eca;
    font-size: 40px;
    line-height: 60px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-about-box:hover .irs-about-icon i {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-about-box h4 {
    margin-top: 20px;
}
.irs-about-box p {
    margin-bottom: 25px;
}
.irs-col-padd-less {
    padding: 0;
}




/* ========== Divider css Start ========== */
.irs-divider-field {
    padding: 100px 0 70px;
    background: url(../images/college.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.irs-divider-field .irs-divider-col {
    margin-bottom: 30px;
}
.irs-divider-field .irs-divider-col h2 {
    color: #ffffff;
    font-size: 44px;
    margin-bottom: 20px;
}
.irs-divider-field .irs-divider-col p {
    color: #e2e0e0;
    margin-bottom: 20px;
}
.irs-divider-field .irs-call-numbar {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px 20px;
}
.irs-divider-field .irs-divider-col .irs-call-numbar h4 {
    color: #e2e0e0;
    font-size: 24px;
    margin-bottom: 0;
}
.irs-divider-field .irs-divider-col .irs-call-numbar h4 i {
    color: #407eca;
}




/* ========== Courses css Start ========== */
.irs-courses-field {
    padding: 100px 0 70px;
}
.irs-courses-col {
    text-align: center;
    margin-bottom: 30px;
    background: #F7F7F7;
    overflow: hidden;
}
.irs-courses-img {
    position: relative;
    overflow: hidden;
}
.irs-courses-img-two {
    float: left;
    width: 33%;
}
.irs-courses-img img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-courses-col:hover .irs-courses-img img {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari */
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-time {
    position: absolute;
    top: -40px;
    right: -2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-courses-col:hover .irs-time {
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-time p a {
    font-family: 'PT Serif', serif;
    color: #ffffff;
    text-transform: uppercase;
    background: #407eca;
    padding: 10px 18px;
}
.irs-courses-img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 5px 60px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-courses-col:hover .irs-courses-img-text {
    background: rgba(64, 126, 202, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-courses-img-text ul li {
    float: left;
}
.irs-courses-img-text ul li p {
    color: #ffffff;
    text-transform: capitalize;
}
.irs-courses-img-text ul li p i {
    margin-right: 5px;
}
.irs-courses-content {
    padding: 30px 20px 40px 20px;
}
.irs-courses-content-two {
    float: left;
    text-align: left;
    width: 67%;
}
.irs-courses-content-two .irs-pricing-range label {
    margin-left: 0;
}
.irs-courses-content h4 a {
    font-family: 'PT Serif', serif;
    font-size: 24px;
    color: #333333;
}
.irs-courses-content p {
    margin-bottom: 30px;
}

/* Courses single css start */
.irs-courses-single {

}
.irs-courses-col-single {
    background: none;
    text-align: left;
}
.irs-courses-col-single .irs-courses-content {
    padding-left: 0;
}
.irs-course-features {

}
.irs-course-features h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.irs-course-features ul {
    border: 1px solid #cccccc;
    margin-bottom: 30px;
}
.irs-course-features ul li {
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    padding: 10px 10px 10px 10px;
}
.irs-course-features ul li:last-child {
    font-size: 20px;
    font-weight: bold;
    color: #407eca;
    border-bottom: none;
}
.irs-course-features ul li span i {
    color: #407eca;
}
.irs-comment-single h3 {
    margin-bottom: 30px;
    color: #407eca;
}
.irs-comment-item {
    position: relative;
    padding-left: 100px;
    margin-bottom: 60px;
}
.irs-comment-item-right {
    margin-left: 100px;
}
.irs-comment-item img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.irs-comment-content h4 a {
    font-size: 18px;
    color: #333333;
}
.irs-comment-content h6 a {
    color: #333333;
}
.irs-comment-content h4 a:hover, .irs-comment-content h6 a:hover {
    color: #407eca;
}
.irs-live-comment {
    margin-bottom: 60px;
}
.irs-blog-live-comment {
    margin-bottom: 0;
}
.irs-live-comment h3 {
    color: #407eca;
    margin-bottom: 30px;
}
.irs-live-comment .form-control {
    height: 40px;
    margin-bottom: 30px;
    border-radius: 0;
    box-shadow: none;
}
.irs-textarea {
    height: 100% !important;
    resize: none;
}
.irs-related-courses h3 {
    color: #407eca;
    margin-bottom: 30px;
}



/* ========== Counter css Start ========== */
.irs-counter-field {
    padding: 100px 0 50px;
    background: url(../images/bg/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.irs-counter-col {
    margin-bottom: 50px;
    text-align: center;
}
.irs-counter-col i {
    font-size: 80px;
    color: #407eca;
    font-weight: normal;
}
.irs-counter-col .irs-funfact {
    margin-top: 20px;
}
.irs-counter-col .irs-funfact .start-count {
    font-family: 'PT Serif', serif;
    color: #ffffff;
    font-size: 32px;
}
.irs-counter-col .irs-funfact span {
    font-family: 'PT Serif', serif;
    color: #ffffff;
    font-size: 24px;
    float: left;
}
.irs-counter-col .irs-funfact h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

/* Side bar css start */
.irs-side-bar {
    margin-bottom: 30px;
}
.irs-search-box {
    margin-bottom: 50px;
}
.irs-sidebar-title {
    font-size: 18px;
    color: #407eca;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.5);
    display: block;
}
.irs-search-box .form-control {
    height: 45px;
    border-radius: 0;
    box-shadow: none;
}
.irs-search-box .form-control:focus {
    border-color: #407eca;
}
.irs-search-box  .btn {
    height: 45px;
    border: 1px solid #407eca;
    border-radius: 0;
    padding: 8px 20px;
    color: #ffffff;
    background: #407eca;
}
.irs-post {
    margin-bottom: 50px;
}
.irs-post .irs-post-item {
    position: relative;
    padding-left: 85px;
    margin-bottom: 30px;
}
.irs-post .irs-post-item img {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}
.irs-post. irs-post-item h4 {
    text-transform: initial;
    padding-top: 10px;
}
.irs-post .irs-post-item span {
    color: #407eca;
    font-size: 14px;
    text-transform: uppercase;
}
.irs-categories {
    margin-bottom: 50px;
}
.irs-categories ul li {
    margin-bottom: 15px;
}
.irs-categories ul li a:hover {
    color: #407eca;
}
.irs-categories ul li i {
    margin-right: 10px;
}
.irs-video {
    margin-bottom: 50px;
}
.irs-tag-box ul li {
    float: left;
    margin-bottom: 25px;
    margin-right: 10px;
}
.irs-tag-box ul li a {
    padding: 10px 14px;
    border: 1px solid #C1C1C1;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-tag-box ul li a:hover {
    background: #407eca;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-instagram-box ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.irs-instagram-box ul li img {
    width: 80px;
    height: 80px;
}



/* ========== Testimonial css Start ========== */
.irs-testimonial-field {
    padding: 100px 0 100px;
    background: url(../images/bg/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.irs-testimonial-field img {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 350px;
    height: auto;
}
.irs-transparent-space {
    height: 50px;
    width: 100%;
    background: transparent;
}
.irs-testimonial-single {
    background: rgba(28, 28, 28, 0.5);
    border: 3px solid rgba(64, 126, 202, 0.5);
    padding: 60px 40px 30px;
    text-align: center;
    position: relative;
}
.irs-testimonial-single .irs-comment-icon {
    position: absolute;
    right: 100px;
    bottom: 0;
}
.irs-testimonial-single .irs-comment-icon i {
    font-size: 110px;
    color: #407eca;
    opacity: 0.2;
}
.irs-testimonial-single p {
    color: #ffffff;
    margin-bottom: 20px;
}
.irs-testimonial-single h4 {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #407eca;
    font-weight: 400;
}
.irs-testimonial-single h5 {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
.irs-testimonial-field .owl-theme .owl-nav {
    margin-top: 30px;
}
.irs-testimonial-field .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 8px;
    background: #ffffff;
    border: 2px solid transparent;
    margin: 0 3px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.irs-testimonial-field .owl-theme .owl-dots .owl-dot.active span,
.irs-testimonial-field .owl-theme .owl-dots .owl-dot:hover span {
    border: 2px solid #407eca;
    background: #ffffff;
}


/* ========== Teachers css Start ========== */
.irs-teachers-field {
    padding: 100px 0 70px;
}
.irs-teachers-col {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding: 60px;
    /*-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;*/
}
.irs-teachers-col .irs-teachers-name {
    position: absolute;
    left: 17%;
    bottom: 17%;
    width: 65%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    /*-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;*/
}
.irs-teachers-name-hod h6 a{
  text-transform: none;
  height: 70px; position: absolute;
  left: 15%;
  bottom: 14.5%;
  width: 70%;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.irs-teachers-name-hod:hover h6 a{
  height: 70px; position: absolute;
  left: 15%;
  bottom: 14.5%;
  width: 70%;
  text-align: center;
  background: rgba(23, 39, 87, 0.8);
}
.irs-teachers-col:hover .irs-teachers-name {
    /*width: 70%;
    left: 15%;*/
    background: rgba(23, 39, 87, 0.8);
    /*-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;*/
}
.irs-teachers-col .irs-teachers-name h6 a {
    font-family: 'Droid Serif', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.irs-teachers-col .irs-teachers-name p {
    font-size: 17px;
    color: #ffffff;
    margin-right: 15px;
    text-transform: capitalize;
}
.irs-teachers-social {
    position: absolute;
    top: -40px;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    /*-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;*/
}
.irs-teachers-col:hover .irs-teachers-social {
    top: 0;
    right: 0;
    /*-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;*/
}
.irs-teachers-social a i {
    color: #ffffff;
    margin-right: 10px;
    /*-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;*/
}
.irs-teachers-social a i:hover {
    color: #407eca;
    /*-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;*/
}

/* pagination start */
.irs-pagination {

}
.irs-pagination .pagination>li>a,
.irs-pagination .pagination>li>span {
    padding: 8px 18px;
    color: #666666;
    background: #ffffff;
    border: 1px solid #DCD9D9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-pagination .pagination>li>a:hover {
    color: #ffffff;
    background: #407eca;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
/***** Teacher single css start *****/
.irs-teacher-single-field {
    padding: 100px 0 70px;
}
.irs-teacher-single-col {
    margin-bottom: 30px;
}
.irs-teacher-biography ul {
    margin-bottom: 30px;
}
.irs-teacher-biography ul li {
    /*text-transform: capitalize;*/
    margin-bottom: 10px;
}
.irs-teacher-biography ul li strong {
    margin-right: 10px;
}
.irs-teacher-biography ul li i {
    color: #407eca;
}
.irs-teacher-biography ul li a i {
    margin-right: 5px;
    color: #595959;
}
.irs-teacher-biography ul li a i:hover {
    color: #407eca;
}
.irs-other-teachers h3 {
    margin-bottom: 30px;
}



/* ========== Gallery css Start ========== */
.irs-gallery-field {
    padding-top: 100px;
}
.irs-img-hover {
    position: relative;
    margin-bottom: -1px;
}
.irs-layer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.irs-img-hover:hover .irs-layer:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.irs-img-hover i {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.irs-img-hover:hover i {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Gallery two start */
.irs-gallery-field-two {
    padding: 100px 0;
}
.irs-gallery-field-two ul {
    margin-bottom: 20px;
}
.irs-gallery-field-two ul li {
    margin-bottom: 30px;
}
.irs-gallery-field-two ul li a {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #C1C1C1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-gallery-field-two ul li a:hover {
    border-color: #407eca;
    color: #ffffff;
    background-color: #407eca;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.masonry-gallery .isotope-item {
    width: 25%;
}
.masonry-gallery .isotope-item {
    width: 33.33%;
}
.masonry-gallery .isotope-item {
    overflow: hidden;
}


/* ========== Blog css Start ========== */
.irs-blog-field {
}
.irs-blog-col {
    margin-bottom: 30px;
}
.irs-blog-col .irs-courses-content p {
    margin-bottom: 20px;
}
.irs-blog-field .irs-info-text {
    padding: 5px 20px;
    background: #407eca;
}
.irs-blog-field .irs-info-text ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
.irs-blog-field .irs-info-text ul li p i {
    color: #ffffff;
}
.irs-blog-field .irs-info-text ul li p a {
    color: #ffffff;
}
.irs-blog-col .irs-courses-content h4 a {
    font-size: 18px;
}
/***** Blog single css start *****/
.irs-blog-single-field {
}
.irs-blog-single-col {
    margin-bottom: 30px;
}
.irs-blog-single-field .irs-courses-content h6 {
    padding: 50px;
    background: #F7F7F7;
    font-size: 16px;
    line-height: 26px;
    border-left: 2px solid #407eca;
    margin-bottom: 50px;
    margin-top: 50px;
}




/* ========== Newsletter css Start ========== */
.irs-newsletter-field {

}
.irs-newsletter-col {
    margin-bottom: 30px;
}
.irs-newsletter-field h2 {
   margin-bottom: 20px;
}
.irs-newsletter-field p {
   margin-bottom: 30px;
}
.irs-newsletter-field  .form-control {
    height: 40px;
    border-radius: 0;
    box-shadow: none;
}
.irs-newsletter-field  .form-control:focus {
    border-color: #407eca;
}
.irs-newsletter-field  .input-group-btn .btn {
    height: 40px;
    border-radius: 0;
    padding: 6px 20px;
    color: #ffffff;
    background: #407eca;
}
.irs-newsletter-field-two {
    padding-top: 80px;
}

/* ========== Discription css Start ========== */
.irs-discription-field {
    padding: 100px 0 70px;
    background: #F6F6F6;
}
.irs-discription-col {
    margin-bottom: 30px;
}
.irs-discription-col h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
.irs-discription-col h1 span {
    color: #407eca;
}
.irs-topdiscription {
    margin-bottom: 20px;
}
.irs-discription-col ul li {
    position: relative;
    margin-bottom: 10px;
}
.irs-discription-col ul li i {
    color: #C1C1C1;
    margin-right: 10px;
}


/* ========== Mission css Start ========== */
.irs-mission-field {
    padding: 100px 0 70px;
    background: #F6F6F6;
}
.irs-left-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 90px;
}
.irs-hexagon-two {
    position: absolute;
    top: 20px;
    left: 0;
    width: 70px;
    height: 40px;
    background-color: #535353;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.irs-left-item:hover .irs-hexagon-two {
    background-color: #407eca;
}
.irs-hexagon-two:before,
.irs-hexagon-two:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}
.irs-hexagon-two:before {
  bottom: 100%;
  border-bottom: 20px solid #535353;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.irs-left-item:hover .irs-hexagon-two:before {
    border-bottom-color: #407eca;
}
.irs-hexagon-two:after {
  top: 100%;
  width: 0;
  border-top: 20px solid #535353;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.irs-left-item:hover .irs-hexagon-two:after {
    border-top-color: #407eca;
}
.irs-hexagon-two i {
    color: #ffffff;
    font-size: 38px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.irs-mission-col h4 {
    font-size: 18px;
}
.irs-right-item {
    position: relative;
    margin-bottom: 50px;
    padding-right: 90px;
    text-align: right;
}
.irs-right-item .irs-hexagon-two {
    position: absolute;
    left: 290px;
    top: 20px;
}
.irs-right-item:hover .irs-hexagon-two {
    background-color: #407eca;
}
.irs-right-item:hover .irs-hexagon-two:before {
    border-bottom-color: #407eca;
}
.irs-right-item:hover .irs-hexagon-two:after {
    border-top-color: #407eca;
}


/* ========== Sponsor css Start ========== */
.irs-sponsor-field {
    padding: 100px 0 100px;
}
.irs-sponsor-col {
    margin-bottom: 30px;
}
.irs-sponsor-col ul {
    border: 1px solid #DCD9D9;
}
.irs-sponsor-col ul li {
    float: left;
    border-right: 1px solid #DCD9D9;
    padding: 40px 38px;
}
.irs-sponsor-col ul li:last-child {
    border: none;
}
.irs-sponsor-col ul li a img {
    width: 150px;
    height: 30px;
}



/* ========== Faq css start ========== */
.irs-faq-field {
    padding: 100px 0;
}
.irs-blog-field .irs-info-text {
    padding: 5px 20px;
    background: #407eca;
}
.irs-faq-field .irs-teachers-col {
    margin-bottom: 50px;
}
.irs-volunteer-content p {
    margin-bottom: 20px;
}
.irs-faq-img {
    display: block;
    text-align: center;
}
.irs-faq-img img {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
}
/*Accordion two start*/
.irs-accordion-two .panel .panel-title a i {
    background-color: transparent;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-right: 1px solid #dddddd;
}
.irs-accordion-two .panel .panel-title a .icon-1 {
    display: inline-block;
    color: #407eca;
}
.irs-accordion-two .panel-title a.collapsed .icon-1 {
    display: none;
}
.irs-accordion-two .panel .panel-title a .icon-2 {
    display: none;
    color: #407eca;
}
.irs-accordion-two .panel .panel-title a.collapsed .icon-2 {
    display: inline-block;
}
.irs-accordion-two .panel-title a {
    color: #333333;
    font-weight: 400;
}
.irs-accordion-two .panel-group .panel {
    border-radius: 0;
    margin-bottom: 20px;
}
.irs-accordion-two .panel-default>.panel-heading {
    background-color: transparent;
    border-color: #EEEEEE;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}


/* ========== Contact css start ========== */
.irs-contact-field {
    padding: 100px 0 70px;
}
.irs-contact-field .irs-contact-col {
    margin-bottom: 30px;
}
.irs-address-box {
    background: #F6F6F6;
    text-align: center;
    height: 145px;
    padding: 65px 80px 30px 80px;
    margin-bottom: 80px;
}
.irs-hexagon-three {
    margin-bottom: 0;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -35px;
}
.irs-address-box:hover .irs-hexagon-three {
    background-color: #407eca;
}
.irs-address-box:hover .irs-hexagon-three:before {
    border-bottom-color: #407eca;
}
.irs-address-box:hover .irs-hexagon-three:after {
    border-top-color: #407eca;
}
.irs-hexagon-three i {
    font-size: 25px;
    line-height: 40px;
}
.irs-contact-col .form-control {
    background: transparent;
    border: 1px solid #C1C1C1;
    border-radius: 0;
    height: 40px;
    text-transform: capitalize;
    margin-bottom: 30px;
    box-shadow: none;
}
.irs-contact-field .irs-contact-col h4 {
    font-size: 18px;
    color: #464646;
    margin-bottom: 20px;
}


/* ========== Inner-page-heading css Start ========== */
.irs-inner-page-heading {
    padding: 120px 0;
    text-align: center;
    background: url(../images/bg/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.irs-inner-heading {
    display: inline-block;
    margin: auto;
    padding: 30px 60px;
    border: 1px solid rgba(64, 126, 202, 0.3)
}
.irs-inner-page-heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #407eca;
    text-transform: uppercase;
}
.irs-inner-page-heading i {
    font-size: 40px;
    color: #407eca;
}
.irs-inner-page-heading p {
    margin-top: 10px;
    color: #ffffff;
    text-transform: uppercase;
}
.irs-inner-page-heading p a {
    color: #ffffff;
    font-weight: bold;
}
.irs-inner-page-heading p a:hover {
    color: #407eca;
}

/* ========== Service css Start ========== */
.irs-service-field {
    padding: 100px 0 70px;
}
.irs-service-col {
    margin-bottom: 30px;
    background: #f7f7f7;
    padding: 30px 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-service-col:hover {
    background: #407eca;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-service-col i {
    font-size: 60px;
    color: #407eca;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-service-col:hover i {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-service-col h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-service-col:hover h3 {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.irs-service-col:hover p {
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}



/* ========== Account css Start ========== */
.irs-account-field {
    padding: 100px 0 70px;
}
.irs-account-col {
    margin-bottom: 30px;
    background: #F7F7F7;
    padding: 30px;
}
.irs-account-col h3 {
    color: #407eca;
    margin-bottom: 20px;
}
.irs-account-col .form-control {
    height: 40px;
    margin-bottom: 30px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}
.form-control:focus {
    border-color: #407eca;
}
.irs-account-col .btn {
    margin-top: 20px;
}


/* ========== 404 css Start ========== */
.irs-404-field {
    padding: 100px 0;
}
.irs-404-field h1 {
    font-size: 12vw;
    color: #407eca;
}
.irs-404-field h2 {
    font-size: 3vw;
    margin-bottom: 50px;
}
.irs-404-field h3 a {
    color: #333333;
    border-bottom: 2px solid #407eca;
    padding-bottom: 10px;
}

/* ========== Contact css Start ========== */
.irs-contact-field {
    padding: 100px 0 70px;
}
.irs-google-map {
    margin-bottom: 100px;
}
.irs-address-col {
    margin-bottom: 10px;
    text-align: center;
    padding: 20px 20px;
    background: #F7F7F7;
}
.irs-address-col i {
    color: #407eca;
    font-size: 50px;
}
.irs-address-col p {
    margin-top: 10px;
}
.irs-contact-col {
    margin-bottom: 30px;
}
.irs-contact-field .form-control {
    height: 40px;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 30px;
}



/* ========== Footer css Start ========== */
.irs-footer-field {
    padding-top: 20px;
    background: #282828;
    position: relative;
    font-style: 'PT Serif', serif;
    font-size: 15px;
}
.irs-footer-field p {
    color: #ffffff;
    font-style: 'Droid Serif', sans-serif;
    font-size: 17px;
    text-align: left;
}
.irs-footer-about, .irs-footer-link,
.irs-footer-tweets, .irs-footer-contact {
    margin-bottom: 30px;
}
.irs-foooter-logo {
    height: 60px;
    width: auto;
}
.irs-footer-about p {
    color: #ffffff;
    margin: 20px 0 20px;
}
.irs-footer-about .irs-social a i:hover {
    color: #407eca;
}
.irs-footer-heading {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.irs-footer-link ul li{
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #3a3a3a;
}
.irs-footer-link ul li:last-child {
    border-bottom: none;
}
.irs-footer-link ul li:before {
    font-family: IcoFont;
    color: #ffffff;
    margin-right: 5px;
}
.irs-footer-link ul li a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-footer-link ul li a:hover {
    color: #999999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.irs-footer-tweets {

}
.irs-tweets {
    position: relative;
    padding-left: 30px;
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.irs-tweets:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.irs-tweets i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #407eca;
}
.irs-footer-contact p {
    margin-top: 20px;
}
.irs-footer-contact p i {
    margin-right: 10px;
}

/* Copyright field start */
.irs-copyright-field {
    background: #111111;
    text-align: center;
    padding: 20px 0;
}
.irs-copyright-field p {
    color: #ffffff;
    text-transform: capitalize;
}
.irs-copyright-field p a {
    color: #407eca;
}
